header, div, footer {
    
    transition: opacity 3s;
    animation: fadeInAnimation 2s;
    animation-iteration-count: 1;
    animation-duration: 2s;

}

@keyframes fadeInAnimation {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}


#object-content {
    position: relative;
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.277);
    /* border: 1px solid rgba(255, 255, 0, 0.384);  */
    height: 700px;
    margin-left: 600px;
    margin-right: 600px;
    top: 50px;
}

p {
    position: relative;
    text-align: center;
    top: 60px;
    z-index: 1;
}


textarea {

    height: 200px;
    width: 600px;
}

.spacing {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
}


#movement {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
    top: 145px;
    left: 100px; 
}


.button {
    position: relative;
    top: 115px;
    margin-left: 65px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;

    
}

.button:hover {
    color: rgb(254, 254, 194);
    background-color: rgb(37, 1, 71);
}

.button1:hover {
    color: rgb(254, 254, 194);
    background-color: rgb(37, 1, 71);
}

.button1 {
    position: relative;
    padding: 10px;
    margin-right: 35px;
    margin-left: 68px;
    border-radius: 10px;
    top: 115px;
    background-color: black;

}

#name, #email, #message, #contact, #L-name {

    /* background-color: rgb(47, 46, 46); */
    background-color: rgb(0, 0, 0);
    
    font-size: large;
}



/* #email {
    background-color: rgb(47, 46, 46);
    font-size: large;
}

#message {
    background-color: rgb(47, 46, 46);
    font-size: large;
}  */

label {
    font-size: medium;
}


.text {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}


.text-one {
    position: relative;
    display: inline-block;
    color: var(--brightYellow);
    top: 10px;
   
}

.text-two {
    position: relative;
    display: inline-block;
    top: 10px;
    color: var(--brightYellow);


}

.three-text {

    position: relative;
    display: inline-block;
    top: 10px;
    color: var(--brightYellow);

}

.text-four {
    position: relative;
    display: inline-block;
    top: 5px;
    color: var(--brightYellow);

    
}

.text-five {
    position: relative;
    display: inline-block;
    top: 10px;
    color: var(--brightYellow);

} 




