header, div, footer {
    
    transition: opacity 3s;
    animation: fadeInAnimation 2s;
    animation-iteration-count: 1;
    animation-duration: 2s;

}
/* 
img {
    position: relative;
    transition: opacity 2s;
    animation-duration: 2s;
    animation: fadeOutAnimation 2s;
    animation-iteration-count: 1;
    animation-duration: 2s;

} */


@keyframes fadeInAnimation {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}


/* @keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

#move-form {
    position: relative;
    
    
}

#object-content {
    position: relative;
    display: flex;
    top: -500px;
    justify-content: center;
    

}


.spacing {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
}


#movement {
    position: relative;
    display: inline-block;
    top: 145px;
    left: 100px;
    
    justify-content: center;
    align-content: center;
}


.button {
    margin-left: 35px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;

    
}

.button:hover {
    color: rgb(254, 254, 194);
    background-color: rgb(37, 1, 71);
}

.button1:hover {
    color: rgb(254, 254, 194);
    background-color: rgb(37, 1, 71);
}

.button1 {
    padding: 10px;
    margin-right: 35px;
    margin-left: 18px;
    border-radius: 10px;
    background-color: black;

}

#name, #email, #message, #contact {

    /* background-color: rgb(47, 46, 46); */
    background-color: rgb(0, 0, 0);
    
    font-size: large;
}



/* #email {
    background-color: rgb(47, 46, 46);
    font-size: large;
}

#message {
    background-color: rgb(47, 46, 46);
    font-size: large;
}  */

label {
    font-size: medium;
}

.text-one {

    position: relative;
    display: inline-block;
    left: 46px;
}

.text-two {
    position: relative;
    display: inline-block;
    left: 48px;

}

.three-text {

    position: relative;
    display: inline-block;
    left: 15px;
    top: 30px;

}

.text-four {
    position: relative;
    display: inline-block;
    left: 38px;
}

