/* Root variable hover color effects */
:root {
    --brightYellow:rgb(245, 245, 151);
    --yellow:rgb(255, 217, 0);
    --animSolidYellow:rgb(251, 255, 0);
    --dullYellow:rgb(192, 164, 5);
    --unfavouredYellowBrown:rgb(112, 83, 7);
  }

/*Header navigation links*/

  .nav li {
    display: inline-flex;
  
  }
  
  .nav a {
    display: inline-flex;
    padding: .6em;
    color: var(--yellow);
    text-decoration: none;
  }
  
  .main-nav {
    height: auto;
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    transform: translate(-10px);
  }
  
  .main-nav li{
    padding: 0 0%;
  }

  ul {
    margin: 2px; 
  }
 

/*
  #menu-icon {
       
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: -10px;
    display: flex;
    padding: 5px;
    width: 20px;
    height: 5px;
  }*/
/*
.containerX {
  display: inline-block;
  cursor: pointer;
}

.containerX:hover, .containerX:focus {
  background-color: black;
  border-color: var(--yellow);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}
*/


#icon1, #icon2, #icon3 {

  width: 35px;
  height: 5px;
  background-color: var(--yellow);
  margin: 6px 0;
  transition: 0.4s;
  display: inline-block;
  align-items: flex-end;

  /*transform: translate(1750px);*/
  position: relative;
}

/* menu icon position and rotate animation */ 
 
#icon1 { position: relative; top: -10px; left: 70px; }
#icon2 { position: relative; top: -0px; left:  30px;}
#icon3 { position: relative; top: 11px; left: -11px;} 

.change #icon1 {transform: translate(0px, 11px) rotate(-45deg);}
.change #icon2 {opacity: 0;}
.change #icon3 {transform: translate(0px, -11px) rotate(45deg);}



  /* hover animation effects */

    .nav a:hover {color: var(--brightYellow); animation-name: wave; animation-duration: 2s;
    background-size: auto; background-blend-mode: multiply;}
  
    @keyframes wave {from {color: var(--unfavouredYellowBrown);} 
    to {background-color:  var(--dullYellow), var(--animSolidYellow), var(--brightYellow);}}
  
    #home-light {color: var(--brightYellow);} #personal-projects-light {color: var(--brightYellow);} 
    #Team-projects-light {color: var(--brightYellow);}#About-light {color: var(--brightYellow);}
    #Contact-light {color: var(--brightYellow);}
  

/* For IPhone and Pixel 5 devices */

  @media only screen and (min-width: 375px ) and (max-width: 900px) {

    /* Root variable hover color effects */
    :root {
        --brightYellow:rgb(245, 245, 151);
        --yellow:rgb(255, 217, 0);
        --animSolidYellow:rgb(251, 255, 0);
        --dullYellow:rgb(192, 164, 5);
        --unfavouredYellowBrown:rgb(112, 83, 7);
      }
    
    /*Header navigation links*/
    .nav ul{
        margin: 0;
      }
      
      .nav li {
        display: inline-flex;

      
      }
      
      .nav a {
        display: inline-flex;
        padding: .6em;
        color: var(--yellow);
        text-decoration: none;

      }
      
      .main-nav {
        height: auto;
        text-align: right;
        font-size: 1.1em;
        font-weight: lighter;
        transform: translate(-10px);

      }
      
      .main-nav li {
        padding: 0px;

      }
    
    #menu-icon {
       
      display: inline-block;
      cursor: pointer;
      position: relative;
      background-color: var(--yellow);
      top: 3px;
      left: -10px;
      margin: 3px 0;
      transition: 0.4s;
      rotate: 90deg;
      display: flex;
      padding: 5px;
    
    }

    
    .icon, .second-icon, .third-icon {

      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;

    }
   
    #menu-icon .icon {
      transform: translate(0px, 11px) rotate(-45deg);
    }
    
    #menu-icon .second-icon {
      opacity: 0;
    }
    
    #menu-icon .third-icon {
      transform: translate(0px, -11px) rotate(45deg);
    }


  /* hover animation effects */
  
  .nav a:hover {color: var(--brightYellow); animation-name: wave; animation-duration: 2s;
  background-size: auto; background-blend-mode: multiply;}

  @keyframes wave {from {color: var(--unfavouredYellowBrown);} 
  to {background-color:  var(--dullYellow), var(--animSolidYellow), var(--brightYellow);}}

  #home-light {color: var(--brightYellow);} #personal-projects-light {color: var(--brightYellow);} 
  #Team-projects-light {color: var(--brightYellow);}#About-light {color: var(--brightYellow);}
  #Contact-light {color: var(--brightYellow);}
  }


